# FUNCTIONS

In [3]:
def first_fun():
    print("First Function")

In [5]:
first_fun()

First Function

In [10]:
def mul():
    a=int(input("Enter the first number :"))
    b=int(input("Enter the Second number :"))
    return a*b

In [11]:
mul()

Enter the first number : 4
Enter the Second number : 5

20

In [16]:
arg_tuple=(4,3,8,2,5,4,3,7)

def unknown_args(*args):  #when you don't know amount of args you need to use just do"*args"
    print(args[0]*args[1])

In [17]:
unknown_args(*arg_tuple)

12

In [29]:
def kwargs(**number):
    print('Number :'+ number['integer'] +' || '+'Number 2 :'+ number['integer2'])

In [30]:
kwargs(integer='2300',integer2='3200')

Number :2300 || Number 2 :3200

# Coverting Data Type

In [31]:
numint=7
type(numint)

int

In [32]:
numstr='7'
type(numstr)

str

In [35]:
num_sum=str(numint)+numstr
print(num_sum)

77

In [36]:
num_sum=(numint)+int(numstr)
print(num_sum)

14

In [37]:
#you can do  same thing to list , tuples ,set and dicti.

In [40]:
string='I wanna go to USA'

In [41]:
set(string)

{' ', 'A', 'I', 'S', 'U', 'a', 'g', 'n', 'o', 't', 'w'}